
.form {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
}

.containermap {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.text-tittlect {
    justify-content: center;
    margin: 18rem 0 0 0 ;
    padding: 0rem;
    border: 0rem;
    display: flex;
    font-size: 3rem;
}